:root {
  --primary-color: #170D19;
  --secudary-color: radial-gradient(52.11% 100% at 52.11% 0%, #FF6864 0%, #E90083 100%);
  --terciary-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}